@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Varela Round", sans-serif;
  scroll-behavior: smooth;
  background-color: rgb(226, 226, 226);
}
a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: #3886b3;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid #3886b3;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: #3886b3;
}
.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: darkturquoise;
}

/* Header section */
/* Button contact */
.snip1293 {
  font-family: "Varela Round", sans-serif;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 15px 40px 20px;
  display: inline-block;
  margin: 12px 25px;
  font-weight: 300;
  outline: none;
  position: relative;
  font-size: 16px;
  background-image: -webkit-linear-gradient(
    bottom,
    #262626 0px,
    #404040 10px,
    #262626 10px,
    #333333 100%
  );
  background-image: linear-gradient(
    to top,
    #262626 0px,
    #404040 10px,
    #262626 10px,
    #333333 100%
  );
  box-shadow: 1px 1px 2px -2px rgba(255, 255, 255, 0.8) inset,
    -1px -1px 2px -2px rgba(255, 255, 255, 0.3) inset,
    1px 1px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.snip1293:after {
  content: "";
  position: absolute;
  height: 10px;
  left: 0;
  bottom: 0;
  width: 0%;
  border-radius: 0 0 5px 5px;
  background-color: #94c6e7;
  mix-blend-mode: color;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.snip1293:hover:after,
.snip1293.hover:after {
  width: 100%;
}
.snip1293:active:after {
  height: 100%;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}
/* End Button contact */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list ul.active {
  left: 0%;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: rgb(124, 175, 252);
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
#header .nav-list ul li:hover a {
  color: #ffffff;
}
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
  background-image: url(./img/hero-bg.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.678);
  opacity: 0.7;
  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}
#hero h1:nth-child(1) {
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
  animation-delay: 2s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #3886b3;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

/* End Hero Section */

/* Skill Section */
/*  Circle */
@import url("https://fonts.googleapis.com/css?family=Lato:300");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*** <--- Circle Styles ---> ***/
.wrap-circles {
  display: flex;
  min-height: 20vh;
  max-width: 50vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #dadadade;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#0d3b80 25%, #dadadade 0);
}
.circle.per-30 {
  background-image: conic-gradient(#0d3b80 30%, #dadadade 0);
}
.circle.per-40 {
  background-image: conic-gradient(#0d3b80 40%, #dadadade 0);
}
.circle.per-45 {
  background-image: conic-gradient(#0d3b80 45%, #dadadade 0);
}
.circle.per-70 {
  background-image: conic-gradient(#0d3b80 70%, #dadadade 0);
}
.circle.per-75 {
  background-image: conic-gradient(#0d3b80 75%, #dadadade 0);
}
.circle.per-80 {
  background-image: conic-gradient(#0d3b80 80%, #dadadade 0);
}
.circle.per-85 {
  background-image: conic-gradient(#0d3b80 85%, #dadadade 0);
}
.circle.per-90 {
  background-image: conic-gradient(#0d3b80 90%, #dadadade 0);
}

.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #000;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgb(171, 237, 248);
}
/*** <--- End Circle Styles---> ***/
#skill .skill {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#skill .skill-top {
  max-width: 500px;
  margin: 0 auto;
}
#skill .skill-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#skill .skill-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./img/img-1.png);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#skill .skill-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.9;
  z-index: -1;
}
#skill .skill-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#skill .skill-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#skill .skill-item p {
  color: white;
  text-align: left;
}
/* End Skill Section */

/*  Language Section */
#language .container {
  min-height: 100vh;
}
#language .language {
  flex-direction: column;
  text-align: left;
  max-width: 100vw;
  margin: 0 auto;
  padding: 100px 30px;
}
#language .language-top {
  max-width: 500px;
  margin: 0 auto;
}
#language .language-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 30px 0 15px;
}
#language img {
  width: 40px;
  height: 25px;
}
#language li {
  list-style: none;
  font-weight: bolder;
  text-align: left;
  font-size: 4rem;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0),
    #a0a0a0,
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
  letter-spacing: 1px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 80%;
  animation: shine 5s infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 700%;
  }
}
/*  End Language Section */

/*  Profession Seciton  */
#profession .profession {
  flex-direction: column;
  text-align: center;
  /* max-width: 1500px; */
}
#profession .profession-top {
  max-width: 500px;
}
#profession .profession-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.animation-container {
  text-align: left;
  min-width: 20vw;
}
.animation {
  opacity: 0;
}
.animated {
  opacity: 1;
}
.animation-container h3 {
  font-size: 3rem;
  color: #272727;
}
p .animation-weight {
  font-weight: 900;
  font-size: 1.5rem;
  color: #3886b3;
}
#profession h3 {
  margin: 5px 15px 5px 15px;
}
#profession p {
  margin: 5px 15px 5px 15px;
  color: #a0a0a0;
}
/*  End Profession Seciton  */

/* Projects section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .projects-header h1 {
  margin-bottom: 50px;
}
#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #0b2d41 15%, #3886b3 100%);
  color: white;
}
#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}
#projects .project-info p {
  color: white;
}
#projects .project-info a {
  font-family: "Varela Round", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  color: rgb(139, 139, 139);
  transition: 0.25s;
  border-bottom: rgb(139, 139, 139) 2px solid;
}
#projects .project-info a:hover {
  color: #3886b3;
}
#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #afafaf 0%, #494949 100%);
  opacity: 0.4;
}
#projects .project-img img {
  transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}
/* End Projects section */

/* About Section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
#about .col-left {
  width: 250px;
  height: 360px;
}
#about .col-right {
  width: 100%;
}
#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
  color: #333333;
}
#about .col-right p {
  margin-bottom: 20px;
}
#about .col-right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}
/* #about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}
#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid rgb(0, 0, 0);
  z-index: -1;
} */
.snip1539 {
  display: inline-block;
  overflow: hidden;
  margin: 10px 8px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  box-shadow: none !important;
  padding: 16px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1539 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.snip1539:before,
.snip1539:after {
  z-index: -1;
  position: absolute;
  content: "";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0.6;
}
.snip1539:before {
  border: 8px solid rgb(66, 66, 66);
  top: 0px;
  left: 0px;
  bottom: 32px;
  right: 32px;
}
.snip1539:after {
  background-color: #3886b3;
  bottom: 0px;
  right: 0px;
  top: 32px;
  left: 32px;
}
.snip1539 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1539:hover:before,
.snip1539.hover:before,
.snip1539:hover:after,
.snip1539.hover:after {
  opacity: 1;
}
/* End About Section */

/* contact Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
#contact .section-title {
  margin-bottom: 5rem;
}
#contact .contact-items {
  /* max-width: 400px; */
  width: 100%;
}
#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0000002c;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #4e4e4e;
}
#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
  color: #000;
}

#contact .contact-info h1:hover {
  color: #3886b3;
}

/*End contact Section */

/* Footer */
/*  Logo*/
.snip1285 {
  font-family: "Varela Round", sans-serif;
  position: relative;
  float: left;
  color: #3886b3;
  margin: 70px 20px;
  max-width: 295px;
  width: 100%;
  text-align: left;
  font-size: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1285 h1,
.snip1285 h5 {
  margin: 0 0 0 50px;
}
.snip1285 h1 {
  color: rgb(134, 212, 223);
  font-family: "Varela Round", sans-serif;
  text-transform: none;
  font-size: 2.8em;
  letter-spacing: -2.2px;
  line-height: 1.2em;
  position: relative;
  font-weight: 800;
  display: inline-block;
}
.snip1285 h1:after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border: 3px solid #3886b3;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-40px, -68%);
  transform: translate(-40px, -68%);
  border-width: 4px 0 0 4px;
  border-radius: 50%;
}
.snip1285 i {
  font-size: 4.8em;
  color: rgb(80, 233, 253);
  position: relative;
}
/*  End Logo */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: white;
  font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: #3886b3;
  }
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }

  /* Hero */
  #hero h1 {
    font-size: 7rem;
  }
  /* End Hero */

  /* skill Section */
  #skill .skill-bottom .skill-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /* End skill Section */

  /* Project */
  #projects .project-item {
    flex-direction: row;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  /* End Project */

  /* About */
  #about .about {
    flex-direction: row;
  }
  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid #3886b3;
  }
  #about .col-right {
    text-align: left;
    padding: 30px;
  }
  #about .col-right h1 {
    text-align: left;
  }
  /* End About */

  /* contact  */
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }
  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }
  #contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }
  #contact .contact-item .icon {
    height: 100px;
    width: 100px;
  }
  #contact .contact-item .icon img {
    object-fit: contain;
  }
  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
  /* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.3rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  /* End header */

  #skill .skill-bottom .skill-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}

@media only screen and (max-width: 450px) {
  #language ul li {
    font-size: 2rem;
  }
}
/* End  Media Query For Desktop */
